table td {
	text-align: center;
}
.table-struct {
	width: 100%;
}
.table-struct tr td {
	width: 50%;
}
.num-table {
	width: 100%;
}
.num-table tr td, .custom-list tr td, .num-table tr td{
	border: 0px !important;
	width: auto;
	background-color: #e9e9e9;
}
.table-struct tr td {
	border-top: 0px !important;
	/*padding: 5px !important;*/
}
.td-btn {
	background-color: #e9e9e9;
	cursor: pointer;
	/*border: 1px solid #1d1d1d !important;*/
	/*padding: 20px 20px !important;*/
}
.num-btn input , .num-btn input:hover{
	width: 100%;
	padding: 10px;
	background-color: #e9e9e9;
	margin: 0px;
	color: #000;
	border: 0px;
}
.num-btn {
	padding: 40px 10px;
	font-size: 18px;
}
#num {
	width: 91%;
	padding: 10px;
	margin-top: 10px;
	margin-left: 25px;
}
.custom-list {
	width: 95% !important;
	border-top: 3px solid #000;
}
.custom-list tr td{
	text-align: left;
	padding: 4px 0px 2px 20px !important;
}
.custom-list tr td hr {
	padding: 0px !important;
	margin: 0px !important;
	border-top: 3px solid #000;
}
.td-hr {
	padding: 0px !important;
	margin: 0px !important;	
}
.green, .red {
	font-weight: bold;
}
.red {
	color: red;
}

.c-td {
	white-space:nowrap; 
	text-align: right;
}
.edit-container {
	margin: 7px 0 0 0 !important;
}
div.num-btn {
	text-align: center !important;
}
