html,
body {
    height: 100%;
    font-size: 13px !important;
}
#btn-block {
    padding: 20px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
    /*width: 1300px;*/
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}
.data-table tbody tr td {
    padding: 8px 8px 0px 8px;
}
.data-table tbody tr td:last-child {
    width: 120px;
    display:inline-block;
    padding: 0px;
    /*border-bottom: 1px solid #ddd;*/
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.table tbody tr td:last-child {
    text-align: center;
}
.detail-view tbody tr td:last-child {
    text-align: left;
}
}
/**
 * font colors
 */
.stat_color {
    font-weight: bold;
}
.c_yellow {
    color: #A59C00;;
}
.c_red {
    color: #a00;;
}
.c_green {
    color: green;
}
.second-bar {
    background-color: #f5f5f5;
    width: 100%;
}
.input-group.input-daterange {
    display: inline;
    width: 180px;
    font-size: 6px !important;
}
.input-daterange input:first-child { 
    margin-bottom: 5px;
}
.input-group.input-daterange .input-group-addon {
    display: none;
}
.shipping-btn {
    background: url('/img/add.png');
    height: 17px;
    width: 20px;
    margin-left: 4px;
    margin-bottom: 4px;
}
.update-btn {
    background: url('/img/edit.png');
    height: 28px;
    width: 28px;
}
.trash-btn {
    background: url('/img/cont_delete.png');
    height: 24px;
    width: 24px;
    margin-bottom: 2px;
}
.config-btn {
    background: url('/img/config.png');
    height: 20px;
    width: 20px;
    margin-left: 4px;
    margin-bottom: 3px;
}
.info-btn {
    background: url('/img/info.png');
    height: 21px;
    width: 20px;
    margin-left: 2px;
    margin-bottom: 3px;
}
.block-btn {
    background: url('/img/block.png');
    height: 20px;
    width: 20px;
    margin-left: 4px;
}
.zoom-btn {
    background: url('/img/zoom.png');
    height: 20px;
    width: 20px;
    margin-left: 4px;
}
.menu-icon {
    display: inline-block;
}
.green {
    color: green;
}
/*
*    contracts
*/
#contract-tree {
    width: 400px;
    height: 400px;
    overflow-y: auto;
}
#contract-params {
    width: 400px;
}
#contact-select {
    width: 50px; 
    vertical-align: top;
}

.contract-table {
    display: none;
}
.contract-add, .contract-del {
    cursor: pointer;
    width: 48px;
    height: 48px;
    color: #555;
    font-size: 24px;
    background: #fff;
    border: 2px solid #555;
    display: block;
    text-align: center;
    padding: 3px;
}
.contract-add:hover, .contract-del:hover {
    background: #aaa;
    color: #fff;
}
.contract-add {

}
.contract-del {

}
.contract-list {
    width: 160px;
}
ul.contracts-list {
    padding-left: 15px;
    list-style: none;
}
.repair-selected {
    font-weight: bold;
}
.contract-selected {
    font-weight: bold;
}
/*
* reliz
*/
.reliz-index h4 {
    cursor: pointer;
}

.input-daterange {
    width: 128px !important;
    display: block !important;
}
.short-input {
    text-align: center;
    width: 100px;
    height: 35px;
}
.driver-input {
    width: 250px !important;
    margin-bottom: 20px;
    display: inline;
}
.modal-content {
    width: 1050px;
    size: 8px;
}
.stock-condition { display: none; }

/*
* contracts info
*/
#container-info {
    width: 300px;
}
#contract-info table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}
#contract-info table tbody tr td {
    padding: 0px 3px;
    border: 1px solid lightgrey;
    text-align: center;
    vertical-align: middle;
}
#contract-info table tbody tr.thead {
    font-weight: bold;
    text-align: center;
}
.containers-info {
    margin-bottom: 20px;
}
.table-contracts tbody tr td:last-child {
    text-align: left;
}
/*
* reliz
*/
.custom-list tbody tr td {
    border: 1px solid #ddd;
    vertical-align: middle;
}
button.shipping {
    padding: 5px;
}
.reliz-search-btn {
    padding: 4px;
    margin-bottom: 4px;
    width: 60px;
}

.filters {
    display: none;
}